# Environments
.venv/
.env

# Build artifacts
build/
dist/

# User-generated data
debug_screenshots/
screenshots/
data/records.csv

# Local configurations
config/config.json

# Python cache
__pycache__/
*.pyc

# Project files
project_context.md